LandmarkGenerator/bin/
LandmarkGenerator/runnable.jar
*build/
*.png
!utils/crosshair.png
*.jpg
*.mhd
*.raw
registration/images/
registration/bin/
utils/bin/
flycheck*
*.o
*.app/

# Emacs
*~

# Java
*.class

# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/
